:host footer.footer {
     background: var(--secondary-color) !important; /* Тъмно зелено */
     color: var(--text-color) !important;
     padding: 40px 20px;
     text-align: center;
   }

   :host .footer-content {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     gap: 20px;
     max-width: 1200px;
     margin: 0 auto;
   }

   :host .contact-info, :host .social-links {
     flex: 1;
     min-width: 200px;
   }

   :host .contact-info h3, :host .social-links h3 {
     font-size: 20px;
     margin-bottom: 15px;
   }

   :host .contact-info p, :host .social-links a {
     display: flex;
     align-items: center;
     gap: 10px;
     text-decoration: none;
     font-size: 16px;
     margin: 10px 0;
   }

   :host .footer-icon {
     width: 24px;
     height: 24px;
     transition: transform 0.3s ease;
   }

   :host .social-links a:hover .footer-icon {
     transform: scale(1.2);
   }

   :host .footer-bottom {
     margin-top: 20px;
     border-top: 1px solid rgba(255, 255, 255, 0.2);
     padding-top: 10px;
   }

   :host .footer-bottom p {
     font-size: 14px;
   }

   @media screen and (max-width: 768px) {
     :host .footer-content {
       flex-direction: column;
       align-items: center;
     }
   }