<footer class="footer">
     <div class="footer-content">
       <div class="contact-info">
         <h3 class="sparkle-text" translate>footer.contact</h3>
         <p><img src="assets/icons/phone.svg" class="footer-icon" alt="Phone Icon" /> <span class="sparkle-text">+359 123 456 789</span></p>
       </div>
       <div class="social-links">
         <h3 class="sparkle-text" translate>footer.follow_us</h3>
         <a href="https://facebook.com" target="_blank">
           <img src="assets/icons/facebook.svg" class="footer-icon" alt="Facebook Icon" /> <span class="sparkle-text">Facebook</span>
         </a>
         <a href="https://instagram.com" target="_blank">
           <img src="assets/icons/instagram.svg" class="footer-icon" alt="Instagram Icon" /> <span class="sparkle-text">Instagram</span>
         </a>
       </div>
     </div>
     <div class="footer-bottom">
       <p class="sparkle-text" translate>footer.copyright</p>
     </div>
   </footer>