.social {
    padding: 100px 20px;
    text-align: center;
    background-color: #F5F7FA; /* Светло синьо/сиво */
  }
  
  h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #003087; /* Тъмно синьо */
  }
  
  p {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 20px;
  }
  
  a {
    color: #00A1D6; /* Ярко синьо */
    text-decoration: none;
    font-weight: 600;
    margin: 0 15px;
    transition: color 0.3s ease;
  }
  
  a i {
    margin-right: 10px;
  }
  
  a:hover {
    color: #007BB5; /* По-тъмно синьо */
  }
  
  @media (max-width: 768px) {
    h2 {
      font-size: 32px;
    }
  
    p {
      font-size: 16px;
    }
  }