@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E8ECEF; /* Мръсно бяло/сиво */
}

/* Контейнер за целия сайт */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: #E8ECEF;
}

/* Адаптивни стилове за по-малки екрани */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}