@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #E8ECEF; /* Мръсно бяло/сиво */
}

/* Фиксиран контейнер за целия сайт */
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #E8ECEF;
}